body{
    background-color: aliceblue;
    font-size: xx-large;
    text-align: center;
    font-style:normal;
    font: 300;
    font-weight: bolder;

    
    
}a{
    text-decoration: none;
    background-color: aqua;
}
img{
    
}
.div{
    font-size: xx-large;
}