body{
      background-color:aliceblue
}
#box{
    background-color: rgb( rgb(77,90, 55))
}
.great{
    color: brown;
}
.red{
    color: rgb(76, 0, 255);
}
.bed{
    color: deeppink;
    text-shadow:15px 7px 2px gray ;
}
.seen{
    text-shadow:15px -7px 5px ;
    text-align: center;
font-size: xx-large;
box-shadow:5px 5px 5px 10px  gray ;
width: 50%;
height: 100%;
background-image: url(./images.jpg) width:400px;

}
.box{
    box-shadow: 5px 10px 5px;
}